{% extends 'base.html.twig' %}

{% block idbody %}museos{% endblock %}
{% block body %}
<div class="container-full-grad"></div>
  <div class="logo"><a href="/museos"><img src="/imgs/logo.png"></a></div>

  <div class="secciones auto-delay" ><img src="/imgs/museos/menu-museos.png"></div>

  <div class="obra-title auto-delay " style="animation-delay: 2s;">la vuelta del malón</div>

  <div class="obra-sidemenu auto-delay"><img src="/imgs/museos/sidemenu-museos-malon.png"></div>

  <div id="thecanvas" class="auto-delay"></div>

  <div class="footer-bg auto-delay" >
    <a href="/obras/la-mano-de-dios"><img src="/imgs/museos/explore_footer_02.png"/></a>
  </div>

  <div id="left-screen-floor">
    
    <div class="panel">
      <h2 style="color:#ED1C9B;font-weight: 300">CONTEXTO</h2>
    </div>
    <div class="panel">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis velit velit. Sed venenatis leo id est vehicula, nec vehicula leo adipiscing elit. Sed facilisis velit velit. porttitor. Nunc sed varius porttitor. Rirunc sed varius dui, eleifend posuere velit.</p>
    </div>
  </div>

{% endblock %}

{% block stylesheets %}
  <style>


#left-screen-floor {
max-width:20%;
z-index:999999;
    position: absolute;
    left: 6%;
    top: 30%;
}

#thecanvas   {
  background: url(/imgs/museos/cuadro.png) no-repeat;
  background-position: center 30%;
  background-size: 40%
}

#thecanvas   {
  top:0;
  position:absolute;
      height:100vh;
      width:100%;
}
.footer-bg{
  width:100%;
  height:187px;
  background: url(/imgs/museos/footer_bg.jpg);
  position:absolute;bottom:0;
}

.footer-bg img
{display: block;
    margin: 25px auto;}

.secciones{
  position:absolute;
  right:50px;
  top:30px;
  right: -100%;
  animation: slideRightBorder 1s 0.2s ease;
  animation-fill-mode: forwards;
  padding:0 65px 0 0;
}

.obra-sidemenu {
  position: absolute;
  padding:0 50px 0 0;
  top: 30%;
  right: -100%;
  animation: slideRightBorder 1s 0.2s ease;
  animation-fill-mode: forwards;
}

.obra-title {
  font-family: serif;
  position: absolute;
  color: violet;
  font-size: 44px;
  font-style: italic;
  font-weight: 700;
  background: rgba(230,230,230,0.6);
  padding: 15px 60px 15px 30px;
  border-radius: 16px;
  top: 19%;
  right: -100%;
  animation: slideRightBorder 1s 0.2s ease;
  animation-fill-mode: forwards;
}


  </style>

{% endblock %}


{% block javascripts %}
  <script>

  </script>
{% endblock %}


