{% extends 'base.html.twig' %}

{% block idbody %}biblioteca{% endblock %}
{% block body %}

    <div class="logo"><a href="/#inicio"><img src="imgs/logo.png"></a></div>

    <div class="seccion"><img src="imgs/biblioteca/boton-biblioteca.png"></div>

    <div class="container-full bg-biblioteca">

      <div class="temas-container bg-cintas">
        <div class="temas">
          <div class="tema uno">
            <div class="desplegable close">
              <div class="titulo">NACIONALES</div>
              <ul>
                <li>ARTE</li>
                <li>EL MUNDO</li>
                <li>ARGENTINA</li>
                <li>PERSONAJES</li>
              </ul>
            </div>
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema dos">
            <!--div class="titulo">TEMATICA</div-->
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema tres">
            <!--div class="titulo">TEMATICA</div-->
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema cuatro">
            <!--div class="titulo">TEMATICA</div-->
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema cinco">
            <!--div class="titulo">TEMATICA</div-->
            <div class="punto auto-delay"><span>+</span></div>
          </div>
         </div>
        </div>

    </div>

    <div class="ayuda">ELEGÍ LA TEMÁTICA DE TU INTERÉS</div>
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
