{% extends 'base.html.twig' %}

{% block idbody %}editorial{% endblock %}
{% block body %}


    <div class="logo"><a href="/home"><img src="imgs/logo.png"></a></div>

    <div class="seccion"><img src="imgs/editorial/boton-editorial.png"></div>

    <div class="container-full bg-editorial">

      <div class="principal active">
        <div class="temas">

          <div class="tema uno">
            <div class="titulo">INCUNABLES</div>
            <div><div class="esfera"><img class="svg" src="imgs/editorial/incunables.svg"></div></div>
          </div>
          <div class="tema dos">
            <div class="titulo">NARRATIVA</div>
            <div><div class="esfera"><img class="svg" src="imgs/editorial/narrativa.svg"></div></div>
          </div>
          <div class="tema tres">
            <div class="titulo">POESÍA</div>
            <div><div class="esfera"><img class="svg" src="imgs/editorial/poesia.svg"></div></div>
          </div>
          <div class="tema cuatro">
            <div class="titulo">CRÓNICAS DE VIAJE</div>
            <div><div class="esfera"><img class="svg" src="imgs/editorial/viajes.svg"></div></div>
          </div>

          <div class="lineas-de-puntos"></div>

        </div>
      </div>

        <div class="interna inactive">

          <div class="sub-seccion">CRÓNICAS DE VIAJE</div>

          <div class="volver-invisible"></div>

          <div class="temas">
            <div class="tema barco">
              <div class="desplegable close">
                <div class="titulo">EN BARCO</div>
                <ul>
                  <li>viaje 1</li>
                  <li>viaje 2</li>
                  <li>viaje 3</li>
                  <li>el beagle</li>
                </ul>
              </div>
              <div class="auto-delay"><img src="imgs/editorial/barco.png"></div>
            </div>
            <div class="tema bote">
              <div class="auto-delay"><img src="imgs/editorial/bote.png"></div>
            </div>
            <div class="tema avion">
              <div class="auto-delay"><img src="imgs/editorial/avion.png"></div>
            </div>
            <div class="tema delfin">
              <div class="auto-delay"><img src="imgs/editorial/delfin.png"></div>
            </div>
            <div class="tema planta">
              <div class="auto-delay"><img src="imgs/editorial/planta.png"></div>
            </div>
           </div>
         </div>

    </div>

    <div class="ayuda">ELEGÍ LA TEMÁTICA DE TU INTERÉS</div>
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
