{% extends 'base.html.twig' %}

{% block idbody %}museos{% endblock %}
{% block body %}

    <div class="logo"><a href="/home"><img src="imgs/logo.png"></a></div>

    <div class="seccion"><img src="imgs/biblioteca/boton-biblioteca.png"></div>

    <div class="container-full bg-museos">

      <div class="temas-container">

        <div class="temas">
          <div class="tema uno">
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema dos">
            <!--div class="titulo">TEMATICA</div-->
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema tres">
            <!--div class="titulo">TEMATICA</div-->
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema cuatro">
            <!--div class="titulo">TEMATICA</div-->
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema cinco">
            <!--div class="titulo">TEMATICA</div-->
            <div class="punto auto-delay"><span>+</span></div>
          </div>
          <div class="tema seis">
            <div class="desplegable close">
              <div class="titulo">NACIONALES</div>
              <ul>
                <li>DEL GRABADO</li>
                <li>ARTE ORIENTAL</li>
                <li>ARTE DECORATIVO</li>
                <li>BELLAS ARTES</li>
              </ul>
            </div>
            <div class="punto auto-delay"><span>+</span></div>
          </div>
         </div>

        </div>

    </div>

    <div class="ayuda">ELEGÍ LA CATEGORÍA DE TU INTERÉS</div>
{% endblock %}

{% block stylesheets %}
<style>
   
</style>
{% endblock %}
