{% extends 'base.html.twig' %}

{% block idbody %}tresdecultura{% endblock %}
{% block body %}

  <div class="logo"><a href="/#inicio"><img src="imgs/logo.png"></a></div>

  <div class="seccion"><img src="imgs/3dCultura/boton-museos.png"></div>

  <div class="container-full bg-3dcultura">
    <div class="background_image"></div>

    <div class="temas-container">

      <div class="temas">
        <div class="tema uno">
          <div class="punto auto-delay"><span>+</span></div>
        </div>
        <div class="tema dos">
          <!--div class="titulo">TEMATICA</div-->
          <div class="punto auto-delay"><span>+</span></div>
        </div>
        <div class="tema tres">
          <!--div class="titulo">TEMATICA</div-->
          <div class="punto auto-delay"><span>+</span></div>
        </div>
        <div class="tema cuatro">
          <!--div class="titulo">TEMATICA</div-->
          <div class="punto auto-delay"><span>+</span></div>
        </div>
        <div class="tema cinco">
          <!--div class="titulo">TEMATICA</div-->
          <div class="punto auto-delay"><span>+</span></div>
        </div>
        <div class="tema seis">
          <div class="desplegable close">
            <div class="titulo">NACIONALES</div>
            <ul>
              <li>DEL GRABADO</li>
              <li>ARTE ORIENTAL</li>
              <li>ARTE DECORATIVO</li>
              <li><a href="#" class="open-tema" data-open="bellas-artes"
                     >BELLAS ARTES</a></li>
            </ul>
          </div>
          <div class="punto auto-delay"><span>+</span></div>
        </div>
      </div>

    </div>

    <!-- PLANTA UNO -->
    <div id="bellas-artes-planta-uno" class="sub-sub-interna inactive">
      <div class="planta-image"></div>
      <div class="obras">
        <div class="obra uno">
          <div class="punto auto-delay"><span>+</span></div>
        </div>
        <div class="obra dos">
          <div class="punto auto-delay"><span>+</span></div>
        </div>
        <div class="obra tres">
          <div class="punto auto-delay"><span>+</span></div>
        </div>
      </div>
    </div>

    <div id="left-screen-floor" style="display:none">
      <a href="/obras/la-mano-de-dios"><img src="/imgs/3dCultura/lamano.png" width="40%" style="margin: 0 28% 20px"></a>
      <div class="panel">
        <h3 style="margin-bottom:0;color:#ED1C9B">LA MANO DE DIOS</h3>
        <h4 style="margin-top:0;color:#17B4FF">RODIN, RENÉ</h4>
      </div>
      <div class="panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis velit velit. Sed venenatis leo id est vehicula, nec vehicula leo porttitor. Nunc sed varius dui, eleifend posuere velit. Donec malesuada, lectus id tincidunt hendrerit, lacus urna pellentesque justo, sit amet ullamcorper ipsum lectus et est. Praesent mattis imperdiet maximus.</p>
        <a>+ INFO</a>
      </div>
    </div>
    <div id="right-screen-floor" style="display:none"> 
      <a href="/obras/la-vuelta-del-malon"><img src="/imgs/3dCultura/cuadro.png" width="60%" style="margin: 0 0 20px 60px;"></a>
      <div class="panel">
        <h3 style="margin-bottom:0;color:#ED1C9B">LA VUELTA DEL MALÓN</h3>
        <h4 style="margin-top:0;color:#17B4FF">DELLA VALLE, ÁNGEL</h4>
      </div>
    </div>

    <div class="browser-right inactive">
      <div class="tema-title auto-delay ">NACIONALES</div>
      <div class="tema-sub-title auto-delay ">BELLAS ARTES</div>
      <div class="tema-spot auto-delay " >
        <img src="/imgs/3dCultura/bellas-artes-spot.png">
      </div>

      <div class="tema-epic auto-delay " >
        <p>Lorem ipsum quietan vermit forrol, de mascretoiplan. Lorem ipsum quietan vermit forrol, de mascretoiplan</p></div>


      <div class="browse-floor inactive">
        <div class="planta-image"><span>planta 1</span></div>
        <div class="planta-image"><span>planta 2</span></div>
        <div class="planta-image"><span>planta 3</span></div>
      </div>

    </div>
    <!-- SUB-INTERNA -->
    <div id="bellas-artes" class="sub-interna inactive">
      <div class="temas inactive">

        <div class="tema sub-uno gotoPlanta auto-delay" >
          <div class=""><div class="planta-image"></div>
            <div class="planta-header">
              <h3>planta <span>1</span></h3><p>PINTURAS</p></div>
          </div></div>

        <div class="tema sub-dos gotoPlanta auto-delay" ><div class=""><div class="planta-image"></div>
            <div class="planta-header">
              <h3>planta <span>2</span></h3><p>ESCULTURAS</p></div>
          </div></div>

        <div class="tema sub-tres gotoPlanta auto-delay" ><div class=""><div class="planta-image"></div>
            <div class="planta-header">
              <h3>planta <span>3</span></h3><p>EXHIBICIONES</p></div>
          </div></div>

      </div>
    </div>


  </div>

  <div class="ayuda">ELEGÍ LA CATEGORÍA DE TU INTERÉS</div>

  <!--
  <ul class="cloud-points">
                <li class="cloud-point-one"><div class="punto auto-delay"><span>+</span></div></li>
                <li class="cloud-point-one"><div class="punto auto-delay"><span>+</span></div></li>
                <li class="cloud-point-one"><div class="punto auto-delay"><span>+</span></div></li>
              </ul>
  -->
{% endblock %}

{% block stylesheets %}
  <style>
    a {
      font-weight: bold;
      color: #17B4FF;
    }


    .tema,.obra {
      position: absolute;
      cursor: pointer;
    }
    .gotoPlanta h3 {
      font-size: 24px;
    }

    #museos .bg-museos {
      background-image: none !important;
    }

    .bg-museos .background_image {
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(imgs/3dCultura/bg-museos.jpg);
      background-position: 50% 50%;
      background-size: 130%;
      opacity: 1;
      width: 100%;
      height: 100%;
    }

    .opaque .background_image {
      background-position: 240% 50%;
      -webkit-animation: expand 5s;
    }

    #bellas-artes-planta-uno{
      position: absolute;
      width: 100%;
      height:100%;
    }
    #bellas-artes.sub-interna{
      width: 100%;
      height:100%;
    }
    #bellas-artes.sub-interna .temas{
      margin: 0 auto;
      width: 60%;
      height:100%;
    }

    #bellas-artes.sub-interna .tema {
      position: relative;
      display:block;
    }  

    .tema.sub-uno > div .planta-header {
      left: 10%;
    } 
    .tema.sub-uno > div .cloud-points {

      position: relative;
      display:block;
    } 
    .tema.sub-dos > div .planta-header {
      left: 70%;
      text-align: right;
    } 
    .tema.sub-tres > div .planta-header {
      left: 10%;
    }

    .planta-header h3 {
      border-radius: 4px;
      font-size: 30px;
      font-family: serif;
      background-color: rgba(60,60,60,0.1);
      padding:2px 30px;
      font-style: italic;
      margin-bottom: 4px;
      font-weight: 300;
    }
    .planta-header p {
      text-align: center;
      font-size: 20px;
      color:violet;
      font-weight: 300;
    }
    .planta-header {
      top: 20%;
      position:absolute}

    .tema.sub-uno {
      top: 8%;
      z-index: 90;
    } 
    .tema.sub-dos {
      top: 10%;
      z-index: 80;
    }
    .tema.sub-dos .planta-image {
      opacity: .7;
    }
    .tema.sub-tres {
      top: 12%;
      z-index: 70;
    }
    .tema.sub-tres .planta-image {
      opacity: .5;
    }

    .tema > div {
      clear: both
    }

    .planta-image{
      margin:auto;
      height:220px;
      width:200px;
      display:block;
      background-image:url(content/3dCultura/planta-medium.png)
    }

    .sub-sub-interna .planta-image{
      height:330px;
      width:300px;
      background-size:300px;
      margin: 21vh auto;
      display:block;
      background-image:url(content/3dCultura/planta-medium.png)
    }

    .selected .planta-image{
      height:200%
    }


    /* 3dCultura */


    #tresdecultura .tema-title {
      position: absolute;
      color: violet;
      font-size: 34px;
      font-weight: 300;
      background: rgba(230,230,230,0.6);
      padding: 15px 60px 15px 30px;
      border-radius: 16px;
      top: 21%;
      right: -100%;
      animation: slideRightBorder 1s 0.2s ease;
      animation-fill-mode: forwards;
    }

    #tresdecultura .tema-sub-title {
      position: absolute;
      color: #17B4FF;
      font-size: 34px;
      font-weight: bold;
      background: rgba(230,230,230,0.6);
      padding: 30px 60px 30px 30px;
      border-radius: 16px;
      top: 31%;
      right: -100%;
      animation: slideRightBorder 1s 0.2s ease;
      animation-fill-mode: forwards;
    }

    #tresdecultura .tema-spot {
      position: absolute;
      top: 41%;
      right: -100%;
      animation: slideRightBorder 1s 0.2s ease;
      animation-fill-mode: forwards;

      text-align: center;
      width: 300px;

    }

    #tresdecultura .tema-epic {
      width:250px;
      position: absolute;
      color: #444;
      font-size: 18px;
      font-weight: normal;
      background: rgba(230,230,230,0.6);
      padding: 8px 46px;
      border-radius: 16px;
      top: 64%;
      right: -100%;
      animation: slideRightBorder 1s 0.2s ease;
      animation-fill-mode: forwards;
    }

    #tresdecultura .browse-floor {

      position: absolute;
      top: 60%;
      right: -100%;
      animation: slideRightBorder 1s 0.2s ease;
      animation-fill-mode: forwards;

      text-align: center;
      width: 300px;

    }

    .planta-image span{ 
      font-style: italic;
      color: #17B4FF;

    }

    #tresdecultura .browse-floor .planta-image{
      background-size:70px;
      height:79px;
      width:70px;
    }




    #tresdecultura .tema-spot.inactive {
      opacity:0;
      z-index: -999;
    }

    #tresdecultura .browser-right.inactive,
    .inactive {
      display:none;
      opacity:0;
      z-index: -999;
    }

    #tresdecultura .tema-spot.active,
    .active {
      opacity:1;
      z-index: 9999;
    }


    #tresdecultura .inactive > div{
      opacity: 0;
      z-index:-1;
    }
    #tresdecultura .sub-sub-interna.inactive{
      opacity: 0;
      z-index:-1;
    }
    #tresdecultura .sub-interna > div.inactive{
      opacity: 0;
      z-index:-100;
    }


    #tresdecultura .obra.uno {
      top: 21%;
      left: 46%;
      color: #5CB759;
    }

    #tresdecultura .obra.uno .punto {
      background-color: #5CB759;
      opacity: 0;
      animation: bounceIn 0.5s;
      animation-fill-mode: forwards;
    }
    #tresdecultura .obra.dos {
      top: 28%;
      left: 58%;
      color: #2861FF;
    }

    #tresdecultura .obra.dos .punto {
      background-color: #2861FF;
      opacity: 0;
      animation: bounceIn 0.5s;
      animation-fill-mode: forwards;
    }
    #tresdecultura .obra.tres {
      top: 48%;
      left: 48%;
      color: #9B26AF;
    }

    #tresdecultura .obra.tres .punto {
      background-color: #9B26AF;
      opacity: 0;
      animation: bounceIn 0.5s;
      animation-fill-mode: forwards;
    }
    .tema-spot img.smaller{
      width:200px
    }
    .tema-spot img{
      width:290px
    }

    #left-screen-floor {
      width:23%;
      z-index:999999;
      position: absolute;
      left: 10%;
      top: 30%;
    }
    #right-screen-floor {

      width:280px;
      z-index:999999;
      position: absolute;
      right: 28%;
      top: 50%;
    }

    /*
        position: absolute;
        width: 600px;
        height: 600px;
        left: 50%;
        top: 50%;
        margin-left: -330px;
        margin-top: -330px;
    }
    
    
        .sub-sub-interna .planta-image{
          height:330px;
          width:300px;
          background-size:300px;
          margin: 21vh auto;
          display:block;
          background-image:url(content/museos/planta-medium.png)
        }*/

  </style>
{% endblock %}


{% block javascripts %}
  <!-- <script type="text/javascript" src="{{ asset('/js/script_museos.js') }}"></script> -->

  <script>
    $("#tresdecultura .temas .tema:nth-child(4) .esfera, #museos .sub-seccion"
            ).on("click", function (e) {
      $(".principal").removeClass("active").addClass("inactive")
      $(".interna").removeClass("inactive").addClass("active")
      $(".temas").removeClass("inactive")
      $(".sub-interna").removeClass("active").addClass("inactive")
      $(".ayuda").html("ELEGÍ SEGÚN TU INTERÉS")


    });

    $("#tresdecultura .seccion").on("click", function (e) {

      $(".browser-right").removeClass("active").addClass("inactive")
      $(".bg-museos").removeClass("opaque")
      $(".desplegable.open").removeClass("open")
      $(".principal").removeClass("inactive").addClass("active")
      $(".interna").removeClass("active").addClass("inactive")
      $(".temas").removeClass("inactive")
      $(".sub-interna").removeClass("active").addClass("inactive")
      $(".sub-interna .temas").removeClass("active").addClass("inactive")
      $(".sub-sub-interna").removeClass("active").addClass("inactive")
      $(".seccion").removeClass("small")


      $(".browse-floor").removeClass("active")
      $(".browse-floor").addClass("inactive")
      $(".tema-epic").addClass("active")
      $(".tema-epic").removeClass("inactive")
      $(".tema-spot img").removeClass("smaller")

      $(".ayuda").html("ELEGÍ LA TEMÁTICA DE TU INTERÉS")
    });

    $("#tresdecultura .open-tema").on("click", function (e) {
      e.preventDefault()
      var subsection = "#" + $(this).data("open")
      $(subsection).removeClass("inactive").addClass("active")

      $(".browser-right").removeClass("inactive").addClass("active")
      $(".seccion").addClass("small")
      $(".temas").addClass("inactive")
      $(".sub-interna .temas").removeClass("inactive").addClass("active")
      $(".ayuda").html("ELEGÍ UNA PLANTA")

      $(".bg-3dcultura").addClass("opaque")
    });


    $("#bellas-artes .temas .tema:nth-child(1)"
            ).on("click", function (e) {
      /*e.preventDefault()
       var planta = "#" + $(this).data("open")
       $(planta).removeClass("inactive").addClass("active")
       
       browser-right
       width: 210px;
       tema-epic
       left-screen-floor
       
       
       $("#browser-right").removeClass("inactive").addClass("inactive")
       */
      $('#left-screen-floor').toggle()
      $('#right-screen-floor').toggle()
      $(".browse-floor").removeClass("inactive")
      $(".browse-floor").addClass("active")
      $(".tema-epic").addClass("inactive")
      $(".tema-spot img").addClass("smaller")
      $(".sub-interna > div").removeClass("active")
      $(".sub-interna > div").addClass("inactive")
      $(".sub-interna").removeClass("active")
      $(".sub-interna").addClass("inactive")
      $("#bellas-artes-planta-uno").removeClass("inactive")

    });

  </script>
{% endblock %}


