.icons_{ background:url("icons_.png") top left no-repeat; }
.museo_editables_10_r1_c5{ width:39px; height:40px; background-position:-10px -10px; }
.museo_editables_10_r1_c3{ width:40px; height:40px; background-position:-10px -60px; }
.museo_editables_10_r1_c1{ width:39px; height:40px; background-position:-10px -110px; }
