/* LIBRO EL BEAGLE */


.flipbook .libro-content .ayuda {
    opacity: 1;
    -webkit-animation: none;
            animation: none;
}

.cabecera {
    position: absolute;
    top: 0;
    padding: 14px 0;
    width: 100%;
    z-index: 99;
}


.flipbook .libro-content {
    padding: 30px 60px;
}

.flipbook .libro-content p a {
    color: #17B4FF;
    background: #e6e6e6;
    border-radius: 6px;
    padding: 0px 3px;
}

.flipbook .libro-content p a:hover {
    color: #ffffff;
    background: #17B4FF;
}

.flipbook .libro-content .indice {
    margin-top: 20px;
}

.flipbook .libro-content .indice img {
    width: 230px;
    display: block;
    margin: 0 auto;
}

.flipbook .libro-content h1.libro-titulo {
    color: #17B4FF;
    font-weight: 400;
}

.flipbook .libro-content h1.libro-titulo span.numero {
    color: black;
    font-weight: bold;
}

.flipbook .libro-content p {
    font-size: 19px;
}

.flipbook .libro-content>img, .flipbook .libro-content a img {
    max-width: 100%;
}

.flipbook .libro-content img.align-right, .flipbook .libro-content a img.align-right {
    float: left;
    width: 50%;
    padding: 30px 20px 10px 0px;
}

.flipbook .lista>div img {
    transition: transform 0.2s ease;
}

.flipbook .lista>div {
    width: 33%;
    float: left;
    text-align: center;
    color: #E70081;
    font-weight: bold;
    font-size: 11px;
	cursor: pointer;
}

.flipbook .lista>div:hover img {
    transform: scale(1.1);
}

.flipbook .lista img {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}


.menu.indice {
    width: 190px;
    margin: 0 auto;
    margin-top: 25px;
    padding-left: 30px;
}

.menu.indice ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 1px dashed silver;
}

.menu.indice ul li {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.menu.indice ul li:hover {
    color: #17B4FF;
    cursor: pointer;
}

.menu.indice span.numero {
    font-size: 13px;
    background: silver;
    border-radius: 50%;
    padding: 5px;
    color: white;
    position: relative;
    top: -2px;
    left: -13px;
}



/* GENERAL FLIPBOOK */

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:1200px;
	height:800px;
	left:-600px;
	top:-400px;
}

.flipbook-viewport .page{
	width:600px;
	height:800px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}


.flipbook-viewport *{
	-webkit-transition: none;
    transition: none;
}


.flipbook .hard{
	width:960px;
	height:800px;
	background-color:white;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.flipbook .p1,
.flipbook .p2,
.flipbook .p3, 
.flipbook .back-side{
	background-color:white;
}

.flipbook .p1{
	background-position:0 0;
}

.flipbook .p1 .side{
	width:5px;
	height:800px;
	position:absolute;
	top:0;
	left:600px;

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #bbb), color-stop(0.5,  #ddd), color-stop(1,  #bbb));
	background-image:-webkit-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-moz-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-ms-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:-o-linear-gradient(left, #bbb, #ddd, #bbb);
	background-image:linear-gradient(left, #bbb, #ddd, #bbb);
	
	-webkit-transform:rotateY(-90deg);
	-moz-transform:rotateY(-90deg);
	-o-transform:rotateY(-90deg);
	-ms-transform:rotateY(-90deg);
	transform:rotateY(-90deg);

	-webkit-transform-origin:top right;
	-moz-transform-origin:top right;
	-o-transform-origin:top right;
	-ms-transform-origin:top right;
	transform-origin:top right;
	z-index:100000;

}

.flipbook-transform div[page="1"] > div, .flipbook-transform div[page="2"] > div{
	overflow:visible !important;
}

.flipbook .depth {
    background-image: url(../imgs/libro/pages-depth.png);
    position: absolute;
    top: 7px;
    width: 16px;
    height: 790px;
    background-size: cover;
}

.flipbook .front-side .depth{
	left:4px;
	background-position:0 0;
}

.flipbook .back-side .depth{
	right:4px;
	background-position:right 0;
}


.flipbook .hard{
	width:480px;
	height:600px;
	background-color:white;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-ms-box-shadow:none;
	box-shadow:none;
}

.flipbook .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.flipbook .own-size{
	width:580px;
	height:770px;
	background-color:white;
	overflow:hidden;
}

.flipbook .even{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.flipbook .odd{
	background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #fff), color-stop(1, #cacaca));
	background-image:-webkit-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-moz-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-ms-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:-o-linear-gradient(right, #fff 95%, #cacaca 100%);
	background-image:linear-gradient(right, #fff 95%, #cacaca 100%);
}



.flipbook .loader{
	background-image:url(../imgs/libro/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:280px;
	left:219px;
}



@-webkit-keyframes zoomIn {
  0%{
    transform: scale(0.3);
	top: 30%;
    right: -100%;
  }
  100%{
    transform: scale(1);
	top: 0;
    right: 100%;
  }
}

@keyframes zoomIn {
  0%{
    transform: scale(0.3);
  }
  100%{
    transform: scale(1);
  }
}

@-webkit-keyframes zoomIn {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.3) translate3d(800px,0,0);
  }
}

@keyframes zoomOut {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.3);
  }
}

.animated-book .flipbook{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}


.animated-book.open{
    animation: zoomIn 1s both;
}

.animated-book.close{
    animation: zoomOut 1s both;
}



/* page nav */

.page-nav {
    position: absolute;
    bottom: 30px;
}


.page-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-nav ul li {
    float: left;
    padding: 1px;
    cursor: pointer;
}

.page-nav ul li img {
    opacity: 0.5;
    transform: scale(0.8);
}

.page-nav ul li.active img {
    transform: scale(1);
    opacity: 1;
    padding: 0 5px;
}

.page-nav ul li.active.noscale img {
    transform: scale(0.9);
}

.countPages span {
    background: #B2B2B2;
    padding: 5px;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    position: relative;
    top: 7px;
    border: 4px solid white;
}

.countPages {
    border-bottom: 1px solid #17B4FF;
    margin-bottom: 25px;
    text-align: center;
}


.el-libro .cabecera a.back {
    background: silver;
    color: white;
    border-radius: 50%;
    padding: 8px 11px;
    font-size: 10px;
}

.el-libro .cabecera a.back:hover {
    background: #8bdaff;
}


/* mapa */

.mapa-interactivo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.el-mapa {
    position: absolute;
    width: 1160px;
    height: 770px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../content/editorial/el-beagle/mapa-interactivo.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.achicar-pantalla {
    position: absolute;
    bottom: 10px;
    right: 20px;
	cursor: pointer;
}

.achicar-pantalla:hover {
    transform: scale(0.96);
}


#editorial .el-libro .puntos {
    margin: 0 auto;
    max-width: 100%;
    height: 640px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#editorial .el-libro .tema {
    width: 25%;
    float: left;
    text-align: center;
}

#editorial .el-libro .sub-uno .punto {
    background: #E81D62;
    top: 468px;
    left: 740px;
}

.el-mapa .mapa-info.close{
	opacity: 0;
	height: 0;
}

.el-mapa .mapa-info {
    width: 163px;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 20px;
    font-size: 14px;
    border-radius: 7px;
    left: 64px;
    top: 410px;
    overflow: hidden;
    text-align: center;
    z-index: 2;
    height: 211px;
    transition: all 0.5s ease;
}

.el-mapa .mapa-info .mas-info a {
    color: #17b4ff;
    font-weight: bold;
}


.mapa-interactivo.inactive {
    display: none;
}

.mapa-interactivo.active {
    opacity: 0;
    animation: fadeInUp 0.2s ease;
    animation-fill-mode: forwards;
}
